
<div class="container">
    <div class="row">
        <div class="col-xs-12">
          <ul>
            <li><a routerLink="/">User</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/books">Books</a></li>
          </ul>
        </div>
      </div> 
  <div class="row">
    <div class="col-xs-12">
      <router-outlet></router-outlet>
    </div>
  </div>  
  <!--
  <div class="row">
    <div class="col-xs-12">
      <div class="page-header">
        <h1>Books</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Books List</h3>
        </div>
        <div class="panel-body">
          <app-books-list></app-books-list>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">app-user</h3>
        </div>
        <div class="panel-body">
          <app-user></app-user>
        </div>
      </div>
    </div>
  </div>
-->
</div>
